/app/cmd/.env

# test coverage report
/app/cover.html
/app/cover.out

/app/cmd/bootstrap
/app/cmd/bootstrap.zip

/terraform/.terraform/
/terraform/terraform.tfstate.d/
/terraform/terraform.tfstate
/terraform/tfplan
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
/terraform/terraform.prd.tfvars
/terraform/terraform.dev.tfvars
/terraform/.terraform/environment

.DS_Store
logfile.log
