/app/cmd/.env
/app/cmd/bootstrap
/app/cmd/bootstrap.zip
/app/bin/

# test coverage report
/app/cover.html
/app/cover.out

/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/tfplan
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
/terraform/terraform.tfvars

.DS_Store
