/app/.env
/terraform/terraform.tfvars
function-source.zip
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/tfplan
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
.DS_Store
